MONGODB_URI=mongodb://localhost:8080/dashboard


KAFKA_BROKER="localhost:9092"
KAFKA_PRODUCER_CLIENT_ID="dashboard-producer-client"
KAFKA_PRODUCER_GROUP_ID="dashboard-producer-group"
KAFKA_CONSUMER_CLIENT_ID="dashboard-consumer-client"
KAFKA_CONSUMER_GROUP_ID="dashboard-consumer-group"