MONGODB_URI=mongodb://localhost:8080/profession


KAFKA_BROKER="192.168.0.106:9092"
KAFKA_PRODUCER_CLIENT_ID="profession-producer-client"
KAFKA_PRODUCER_GROUP_ID="profession-producer-group"
KAFKA_CONSUMER_CLIENT_ID="profession-consumer-client"
KAFKA_CONSUMER_GROUP_ID="profession-consumer-group"